---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
As e be say we don Waka reach here so, the Waka go plenty be that Oo.. Chaiiiii. hahaha.
This is just the beginning of something that will blow your mind, in time. main

No just worry, make we dey experiment this thing dey go first, as some things don dey come back memory, dem don fuckup abi dem try well well.. All join ajeh.
Ayayayayaaa.. Make I see weda emoji sef go work here. 🤣🤣
`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Netlify Platform Starter for Tiger Taichi looking for Kazziey in Fortune Island</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://facebook.com" class="btn btn-lg sm:min-w-64">Go to Facebook</a>
    </p>
</Layout>
